node_modules
.pnpm-store
.turbo
.next
out
build
dist
coverage
*.tsbuildinfo
next-env.d.ts
.vercel
.env
.env.*
!.env.example
*.pem
*.sqlite
*.sqlite-*
*.db
.data
.DS_Store
npm-debug.log*
pnpm-debug.log*
